html {

    background-color: #2988bc;
}
h2{
    text-align: center;
    font-size: 36px;
    margin-left:50px;
    margin-top: 100px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;



}
.calculator{
    background: #283655;
    width: 350px;
    padding:15px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 6px 0 #2988bc, 0 8px 10px rgba(0,0,0,0.75);

}
.display{
    background-color: #2988bc;
    color:#fff;
    width: 86%;
    margin: 8px 0 20px 10px;
    margin:10px;
    text-align: right;
    height:50px;
    border-radius: 5px;
    line-height: 50px;
    font-size: 30px;
    padding-right: 10px;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.5), inset 0px 2px 0 #2988bc;
}
ul{
    padding: 0;
    margin: 0;
    
}
ul li{
    list-style: none;
    background: #2988bc;
    padding: 10px;
    width: 15%;
    float: left;
    color: white;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    
    /* box-shadow: 0 5px 0 #a5a5a5, inset 0 2px 0; */
}

.orange{
    background-color: #e67e22;
}
/* 
    ul li:active{
        position: relative;
        top: 5px;
        box-shadow: inset 0 1px 2 px rgba(0,0,0,0.4);
  }
  ul li:nth-child(16){
      height:75px;
      line-height: 75px;

  }
ul li:last-child{
    margin: -48px;
    width: 65%;
} */

/* .signature{
    color: #fff;
    font-size: 0.75rem;
    text-align: right;
    position: relative;
    top: 4px;
    right: 5px;
    z-index: -1;
    font-family: sans-serif;
} */